#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

#main-app {
  width: 100%;
  display: flex;
}

.stepsPanel {
  flex-basis: 100%;
}

@media screen and (min-width: 576px) {
  .stepsPanel {
    flex-basis: 50%;
  }
}