/* Reset Css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

#main-app {
  width: 100%;
}

.stepsPanel {
  flex-basis: 100%;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.justify-content-between {
  justify-content: space-between;
}

.col {
  width: 100%;
  flex-basis: 1;
}

.col-12 {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-shrink: 0;
}

h2 {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}


@media screen and (min-width: 576px) {
  .stepsPanel {
    display: grid;
    grid-template-columns: 6fr 1fr 5fr;
    grid-template-areas: 
    "stepProgress . cart"
    "step . cart"
    "progressControl . cart";
  }
}

/* Input */
input[type='radio'] {
  -webkit-appearance: none;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #2a2a2a;
  border-radius: 50%;
  padding: 0;
  margin-bottom: 0;
}

input[type='radio']:checked {
  box-shadow: inset 0px 0px 0px 5px #2a2a2a;
}

.radio-box-border {
  display: none;
}

input[type='radio']:checked ~ .radio-box-border {
  display: block;
  border: 1px solid #2a2a2a;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
}

.input-group {
  width: 100%;
}

.input-w-sm-s3 {
  width: 50%;
}

.input-w-sm-full {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .input-w-lg-4 {
    width: 60%;
  }
}